{% extends "base_entries.html" %}

{% block content %}

		{% if results %}
			<p>You searched for "{{ query }}". The results are listed below.</p>
			<ul>
				{% for page in results %}
					{% if page.title %}
					<li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
					{% else %}
					<li><a href="{{ page.get_absolute_url }}">{{ page.nombre }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>
		{% else %}
			{% if query %}
				<p>No results found.</p>
			{% else %}
				<p>Type a search query into the box above, and press "Submit to search"</p>	
			{% endif %}
		{% endif %}	

{% endblock content %}