{% extends "base_entries.html" %}

{% block content %}

<div id="artistas">
	
	{% for artista in artistas %}
		<div class="arts">
			{{ artista.nombre }}
		</div>		
	{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if sartista.has_previous %}
            <a href="?page={{ artistas.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ artistas.number }} of {{ artistas.paginator.num_pages }}.
        </span>

        {% if artistas.has_next %}
            <a href="?page={{ artista.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>	
</div>
	
{% endblock content %}