<!doctype html>
<html lang="en">
<head>
	
	{% load staticfiles %}
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock title %}</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static "weblog/style.css" %}" />
	<link rel="stylesheet" href="{% static "weblog/inlineplayer.css" %}" />
	<script type="text/javascript" src="{% static "weblog/scripts/sound.js" %}"></script>
</head>

<body>
<div id="artistass">
	<div id="contexto">
		<div id="detail">

			<h1>{{ object.nombre }}</h1></br>

			<div id="canciones">
				{% for cancion in object.canciones_set.all %}
					{{ cancion }}					
				{% endfor %}
			</div>
	
			<div id="repr">					
			<ul class="graphic">
				

			</ul>
			</div>

			<div id="related"></div>
			<div id="related2"></div>
			<div id="related3"></div>		

		</div>

		

		<div id="disco">
			
		</div>


	</div>
	
</div>	
</body>
</html>






