{% extends "base_entries.html" %}

{% block title %} {{ block.super }} | Ultimas noticias {% endblock title %}

{% block slider %}

	<div id="slider">		

			<div id="img">
				<img src="/static/weblog/images/slider.jpg" alt="">
				<img src="/static/weblog/images/slider2.jpg" alt="">
				<img src="/static/weblog/images/slider3.jpg" alt="">
			</div>

	</div>	
		
{% endblock slider %}

{% block content %}

	<div id="contenido">
			
			<div id="noticias">
				{% for entry in entry_list %}
					<div class="news">
						<div class="categoria">
							{% for category in entry.categories.all %}
								{{ category }}
							{% endfor %}
						</div>
						<div class="img">
							<img class="thumb" src="{{ entry.image.url }}" alt="" width="167" height="140">
							<div class="title">
								{{ entry.title|truncatewords:"2" }}
							</div>
						</div>
						<div class="contenido">
							{{ entry.body|truncatewords:"4" }}
							<a href="{{ entry.get_absolute_url }}">Leer más</a></br></br>
						</div>
					</div>		
				{% endfor %}
			</div>

			<div id="institucional">
				<object type="application/x-shockwave-flash" data="/static/weblog/images/publicidad4.swf" width="305" height="205">
				    <param name="movie" value="/static/weblog/scripts/publicidad4.swf" />
				    <param name="quality" value="high" />
				    <param name="wmode" value="transparent" />
				    <img src="noflash.png" width="305" height="205" alt="Imagen en sustitución de flash" />
				</object>
			</div>

			<div id="discos">
				
				<div id="disk-container">
					<ul id="car">						   
						   <li>
							   	<img src="/static/weblog/images/rect_discos/disco1.jpg" alt="">	
						   </li>
						   <li>
							   	<img src="/static/weblog/images/rect_discos/disco2.jpg" alt="">		
						   </li>
						   <li>
							   	<img src="/static/weblog/images/rect_discos/disco3.jpg" alt="">		
						   </li>
						   <li>
							  	<img src="/static/weblog/images/rect_discos/disco4.jpg" alt="">	
						   <li>
							   	<img src="/static/weblog/images/rect_discos/disco5.jpg" alt="">	
						   </li>
						   <li>
							   	<img src="/static/weblog/images/rect_discos/disco6.jpg" alt="">	
						   </li>
						   <li>
							   	<img src="/static/weblog/images/rect_discos/disco7.jpg" alt="">	
						   </li>
						   <li>
							   	<img src="/static/weblog/images/rect_discos/disco8.jpg" alt="">	
						   </li>

					</ul>
				</div>

			</div>

			<div class="clear"></div>

			<div id="media">
				
				<div id="facebook"></div>

				<div id="encuesta"><iframe src="{% url 'encuesta_activa' %}" height="350px" width="384px" frameBorder="0"></iframe></div>

				<div id="inst"></div>

			</div>

			<div id="side">
				
				<div id="locutor">
					<object type="application/x-shockwave-flash" data="/static/weblog/scripts/publicidad.swf" width="305" height="200">
				    <param name="movie" value="/static/weblog/scripts/publicidad.swf" />
				    <param name="quality" value="high" />
				    <param name="wmode" value="transparent" />
				    <img src="noflash.png" width="300" height="200" alt="Imagen en sustitución de flash" />
				</object>
				</div>

				<div id="google">
					
				</div>

				<div id="crack">
					
				</div>

			</div>
			



	</div>	

{% endblock content %}


